.FrontPageApp {
  text-align: center;
}

.FrontPage-text {
  text-align: left;
}

.FrontPage-logo {
  height: 40vmin;
  pointer-events: none;
}

.FrontPage-header {
  /*background-color: #999;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

/*
.App-link {
  color: #61dafb;
}
*/